*.iml
*.iws
*.iwp
.idea/
.settings
.project
.classpath
target
bin
build

# Little things that ant creates in strange places
explorer/src/css/custom-style.css
platform/conf/classpath/configuration.properties
editor/data/stencilsets/stencilsets.json
editor/data/stencilsets/extensions/extensions.json
editor/src/scripts/Plugins/version.js

